.order{
    position: relative;
    border: 1px solid;
    padding: 5px;
    
    border-radius: 10px;
}

.cancel{
    float: right;
    color: red;
    font-size: 20px;
}

.accept{
    float: right;
    color: green;
    font-size: 20px;
}

.time{
    float: right;
}

.name{
    margin-bottom: 15px;
}

.luogo{
    margin-bottom: 15px;
}
.cart{
    margin-bottom: 15px;
}
.note{
    margin-bottom: 15px;
}
